/* =========================
   LAYOUT GENERAL
========================= */

.app{
    display:flex;
    min-height:100vh;
    background:#f4f7fb;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{

    width:260px;

    background:linear-gradient(180deg,#0f172a,#1e293b);

    color:white;

    padding:30px 20px;

    display:flex;

    flex-direction:column;

    gap:40px;

    box-shadow:5px 0px 20px rgba(0,0,0,.08);

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-icon{

    font-size:38px;

    color:#38bdf8;

}

.logo h2{

    color:white;

    font-size:27px;

}

.logo span{

    color:#cbd5e1;

    font-size:14px;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.sidebar nav a{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px;

    border-radius:12px;

    color:#cbd5e1;

    transition:.3s;

}

.sidebar nav a:hover{

    background:#2563eb;

    color:white;

}

.sidebar nav a.active{

    background:#3b82f6;

    color:white;

}

/* =========================
   CONTENIDO
========================= */

.main-content{

    flex:1;

    display:flex;

    flex-direction:column;

}

.content{

    padding:35px;

}

/* =========================
   NAVBAR
========================= */

.navbar{

    height:90px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 5px 18px rgba(0,0,0,.05);

}

.navbar h1{

    font-size:34px;

    margin-bottom:5px;

}

.navbar p{

    color:#64748b;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.notification{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#eff6ff;

    font-size:20px;

}

.user{

    display:flex;

    align-items:center;

    gap:10px;

    font-weight:600;

}

.user svg{

    font-size:28px;

}