/* ===========================
   RESET GENERAL
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Segoe UI",Tahoma,Geneva,Verdana,sans-serif;

    background:#f4f7fb;

    color:#1f2937;

    overflow-x:hidden;

}

/* React */

#root{

    width:100%;

    min-height:100vh;

}

/* Enlaces */

a{

    text-decoration:none;

    color:inherit;

}

/* Botones */

button{

    font-family:inherit;

    cursor:pointer;

}

/* Inputs */

input,
select,
textarea,
button{

    outline:none;

    border:none;

}